.canvas {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 550px;
}

hr{
  margin: 0;
}

/* scrollbar design */
::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #4f4f4f;
}